*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# 排除本地属性文件，但包含模板
local.properties
!local.properties.template

keystore


.vscode
.kotlin
.idea
app/release
keystore
