<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--<uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />-->
    <!-- 读取图片媒体权限，适用于API 33及以上版本，替代READ_EXTERNAL_STORAGE -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- 网络访问权限，用于与后端服务通信 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 检测网络状态权限，用于在网络变化时调整应用行为 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 保存备份文件需要外部存储权限 -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name="com.wy.diary.DiaryApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiaryAndroid"
        tools:targetApi="31">
        <activity
            android:name="com.wy.diary.activity.DataBackupActivity"
            android:exported="false"
            android:label="@string/title_activity_data_backup_screen"
            android:theme="@style/Theme.DiaryAndroid" />
        <activity
            android:name="com.wy.diary.activity.DiaryHistoryActivity"
            android:exported="false"
            android:label="@string/title_activity_diary_history"
            android:theme="@style/Theme.DiaryAndroid" />
        <activity
            android:name="com.wy.diary.activity.LoginActivity"
            android:exported="true">

            <!-- 添加 intent-filter 使其成为启动页面 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wy.diary.activity.WriteActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DiaryAndroid">

            <!-- 移除 MainActivity 的启动 intent-filter -->
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.wy.diary.activity.ImagePreviewActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.wy.diary.activity.DiaryDetailActivity"
            android:exported="false" />
    </application>

</manifest>